PORT=4000
CLOUDINARY_CLOUD_NAME=wugtledv
CLOUDINARY_API_KEY=912873885738932
CLOUDINARY_API_SECRET=wDLZJGhkXH7027Mb5Q5EyU0zKNU
CLOUDINARY_URL=cloudinary://912873885738932:wDLZJGhkXH7027Mb5Q5EyU0zKNU@wugtledv
PAYSTACK_SECRET_KEY=sk_test_...
STRIPE_SECRET_KEY=sk_test_...
